<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banana Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
</head>

<body>
    <div class="container">
        <form action="/classify" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" required>
            <button type="submit">上傳並分類</button>
        </form>
        {% if result %}
            <div class="result">
                <p>分類結果:{{ result }}</p>
                <img src="{{ url_for('uploaded_file', filename=img_path) }}" alt="Uploaded Image">
            </div>
        {% endif %}
    </div>
</body>

</html>
